In [125]:
#Import Pandas and dependencies.
import pandas as pd
from pathlib import Path

In [126]:
# Read the CSV file into a DataFrame, skip the first row
budget_data = pd.read_csv('Resources/budget_data.csv')

# Initialize an empty dictionary
data = {key:value}

# Loop over the rows of the DataFrame
for date, row in budget_data.iterrows():
  # Extract the values of the "Date" and "Profit/Losses" columns to their respective pair list
  key = row[0]
  value = row[1]
  
  # Add the key-value pair to the dictionary
  data[key] = value

# Print the dictionary
print(data)

{'Feb-2017': 671099, 'Jan-2010': 867884, 'Feb-2010': 984655, 'Mar-2010': 322013, 'Apr-2010': -69417, 'May-2010': 310503, 'Jun-2010': 522857, 'Jul-2010': 1033096, 'Aug-2010': 604885, 'Sep-2010': -216386, 'Oct-2010': 477532, 'Nov-2010': 893810, 'Dec-2010': -80353, 'Jan-2011': 779806, 'Feb-2011': -335203, 'Mar-2011': 697845, 'Apr-2011': 793163, 'May-2011': 485070, 'Jun-2011': 584122, 'Jul-2011': 62729, 'Aug-2011': 668179, 'Sep-2011': 899906, 'Oct-2011': 834719, 'Nov-2011': 132003, 'Dec-2011': 309978, 'Jan-2012': -755566, 'Feb-2012': 1170593, 'Mar-2012': 252788, 'Apr-2012': 1151518, 'May-2012': 817256, 'Jun-2012': 570757, 'Jul-2012': 506702, 'Aug-2012': -1022534, 'Sep-2012': 475062, 'Oct-2012': 779976, 'Nov-2012': 144175, 'Dec-2012': 542494, 'Jan-2013': 359333, 'Feb-2013': 321469, 'Mar-2013': 67780, 'Apr-2013': 471435, 'May-2013': 565603, 'Jun-2013': 872480, 'Jul-2013': 789480, 'Aug-2013': 999942, 'Sep-2013': -1196225, 'Oct-2013': 268997, 'Nov-2013': -687986, 'Dec-2013': 1150461, 'Jan-2014': 682458, 'Feb-2014': 617856, 'Mar-2014': 824098, 'Apr-2014': 581943, 'May-2014': 132864, 'Jun-2014': 448062, 'Jul-2014': 689161, 'Aug-2014': 800701, 'Sep-2014': 1166643, 'Oct-2014': 947333, 'Nov-2014': 578668, 'Dec-2014': 988505, 'Jan-2015': 1139715, 'Feb-2015': 1029471, 'Mar-2015': 687533, 'Apr-2015': -524626, 'May-2015': 158620, 'Jun-2015': 87795, 'Jul-2015': 423389, 'Aug-2015': 840723, 'Sep-2015': 568529, 'Oct-2015': 332067, 'Nov-2015': 989499, 'Dec-2015': 778237, 'Jan-2016': 650000, 'Feb-2016': -1100387, 'Mar-2016': -174946, 'Apr-2016': 757143, 'May-2016': 445709, 'Jun-2016': 712961, 'Jul-2016': -1163797, 'Aug-2016': 569899, 'Sep-2016': 768450, 'Oct-2016': 102685, 'Nov-2016': 795914, 'Dec-2016': 60988, 'Jan-2017': 138230}

In [131]:
#for reference
print(budget_data)

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [127]:
# For reference.
budget_data.describe(include='all')

            Date  Profit/Losses
count         86   8.600000e+01
unique        86            NaN
top     Jan-2010            NaN
freq           1            NaN
mean         NaN   4.463090e+05
std          NaN   5.363579e+05
min          NaN  -1.196225e+06
25%          NaN   1.821620e+05
50%          NaN   5.703280e+05
75%          NaN   7.952262e+05
max          NaN   1.170593e+06

In [128]:
#This was going to be a created list for calling at the end to return relevant data. 

#Create report dictionary for returning manipulated data.
#report = ['Months', 'Profit', 'Average Change', 'Greatest Increase', 'Greatest Decrease']
#print(report)

In [129]:
# Initialize relevant data.
months = 0
total = 0
profit = 0
average_change = 0
greatest_increase = 0
greatest_decrease = 0

# Loop used for months, greatest increase, and greatest decrease.
for element in data.values():
    total += element
    months += 1
    
    if greatest_decrease == 0:
        greatest_decrease = element
    elif element < greatest_decrease:
        greatest_decrease = element
    elif element > greatest_increase:
        greatest_increase = element
  
# Code for finding the key-value pair that matches the value. 
key_val_pair_dec = [(key, val) for key, val in data.items() if val == greatest_decrease]
key_val_pair_inc = [(key, val) for key, val in data.items() if val == greatest_increase]

# Print the key-value pair
#print(key_val_pair_dec[0])
#print(key_val_pair_inc[0])

In [130]:
# An additional way to to get the amount of months from data frame.
total_month = len(budget_data)

In [132]:
# Calculate the sum of profits using .sum() in DataFame
net_profit = budget_data['Profit/Losses'].sum()

In [133]:
#creating new list so to be able to run calculations via loop.
num = []

for value in budget_data['Profit/Losses']:
    if value not in num:
        num.append(value)

#formula for rate of change with new list.
average_change = round((num[-1] - num[0]) / (total_month - 1))

-2315

In [134]:
# Cell for displaying relevant data. These were intened to be .appended to a list 
# but ran out of time. 
print("_________Financial Analysis__________") 
print(f' Total Months: {total_month}')
print(f' Total: ${net_profit}')
print(f' Average Change: ${average_change}')
print(f' Greatest Increase in Profits: {key_val_pair_inc[0]}')
print(f' Greatest Decrease in Profits: {key_val_pair_dec[0]}')

_________Financial Analysis__________
 Total Months: 86
 Total: $38382578
 Average Change: $-2315
 Greatest Increase in Profits: ('Feb-2012', 1170593)
 Greatest Decrease in Profits: ('Sep-2013', -1196225)